/node_modules
/npm-debug.log
/yarn-error.log
.env
.env.local
/dist
/build
/logs
.vscode/ # Pour Visual Studio Code (si vous ne partagez pas la config)
.idea/ # Pour JetBrains IDEs (WebStorm, etc.)
.DS_Store # Fichiers macOS
Thumbs.db # Fichiers Windows
.nodemon.json